.detail-main-container {
    width: 630px;
    margin-bottom: 20px;
}

.detail-bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.detail-bottom-container .btn {
    width: 153px;
    border: none;
    height: 44px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

}

.detail-bottom-container .edit-btn {
    background: none;
    color: #0065FF;
}

.detail-bottom-container .submit-btn {
    background: #0065ff;
    color: #fff;
    border-radius: 8px;
}

.error-text{
    text-align: left;
    font-size: 12px !important;
    color: red !important;
}